
html{
  font-family: verdana;
}

body{
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding:0;
}

/* Header and Nav */

header{
  padding-top: 15px;
  width: 100%;
}

.header-div{
  /* A div to style the navbar */
  height: 65px;
  background: rgba(251, 251, 251, 0.8);
  margin-top: -55px;
  border-top: solid 3px #0A3540;
  border-bottom: solid 3px #0A3540;

}

.logo{
  height: 220px;
  width: 410px;
  margin: 10px 0 0 30px;
}

.cart{
  display: block;
  height: 28px;
  width: auto;
  margin:auto;

}

.cart-div{
  /* A div to make an even circle when hovering over the cart */
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-left: 0;
}

.cart-div:hover{
  border: solid 2px #8C4300;
  border-radius: 100%;
}

/* The code for the hamburger menu I found at https://code-boxx.com/simple-responsive-pure-css-hamburger-menu/,
then made some adjustments */

#ham-nav{
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-right: 70px;

}

#ham-items{
  display: flex;
  align-items: center;

}

#ham-items a{
  flex-grow: 1;
  flex-basis: 0;
  margin: 5px 0px 10px 20px;
  padding-left: 10px;
  font-size: 21px;
  text-align: center;
}

#ham-nav label{
  margin-right: 20px;
}

#ham-nav label, #hamburger {
  display: none;
}

@media screen and (max-width: 1200px){

  .header-div{
    margin-top: -50px;
  }

  .logo{
    display: block;
    margin-left: auto;
    margin-right: auto;

  }

  .cart-div{
    margin:auto;
    margin-top: -5px;
  }

  #ham-nav{
    margin-right: 0;
  }

  #ham-items{
    display:none;
    border-bottom: solid 3px #0A3540;
  }

  #ham-items a{
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 15px 10px 10px 10px;
    margin: 0;
  }

  #ham-nav label{
    display: block;
    color: #0A3540;
    font-size: 28px;
    padding: 3px 10px 10px 10px;
    position: absolute;
    transition: transform 0.2s;

  }

  #ham-nav input:checked ~ #ham-items {
    display: block;
    background: rgba(251, 251, 251);
    margin-top: 58px;
    width: 100%;
    position: absolute;
  }

  #ham-nav input:checked ~ label {
    transform: rotate(90deg);
  }
}

@media only screen and (max-width: 600px){
  .logo{
    width: 90%;
  }

  #ham-nav label{
    font-size: 21px;
    padding-top: 7px;
  }
}

/* Link Style */

.link{
  text-decoration: none;
  color: #0A3540;
}

.link:hover{
  text-decoration: underline;
  text-decoration-color: #8C4300;
  text-decoration-thickness: 2px;
}

.active{
  color: #8C4300;
}

.active:hover{
  text-decoration: none;
  border: none;
}

/* Mid Section */
section{
  min-height: 650px;
}

/* Footer */

footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 70px 0 70px;
  background-color: #FBFBFB;
  border-top: solid 1px #0A3540;
  border-bottom: solid 1px #0A3540;
  font-size: 16px;
}

footer img{
  height: 30px;
  width: auto;
}

.footer-flex{
  display:flex;
  align-items: center;
}

.copyright p{
  margin-left: 5px;
}

.policies p{
  padding: 0 5px 0 5px;
}

.contact a{
  margin-right: 5px;
}

@media only screen and (max-width: 992px){
  footer{
    padding: 0 10px 0 10px;

  }
}

@media only screen and (max-width: 768px){
  footer{
    justify-content: space-between;
  }
  .copyright{
    order: 1;
  }
  .policies{
    order:3;
    text-align: center;
    justify-content: center;
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
  }
  .contact{
    order:2;
  }
}

@media only screen and (max-width: 600px){
  footer{
    font-size: 12px;
  }
  footer img{
    height: 21px;
    width: auto;
  }
}

/*Home Page Specific*/

#home-body{
  background-image: url("../images/luca-massimilian-NCFCbcNVSVQ-unsplash(2).jpg");
  background-color: #949AAA;
}

#home-section{
  text-align: center;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

#home-section h1{
  margin: 0 0 5px 0 ;
  color: #FBFBFB;
  font-size: 37px;
  text-shadow: 2px 1px 1px #111;
}

#home-section p{
  margin: 0 0 5px 0;
  color: #FBFBFB;
  font-size: 21px;
  text-shadow: 2px 1px 1px #111;
}

.cta-button{
  min-height: 30px;
  width: 300px;
  color: #8C4300;
  font-size: 21px;
  font-weight: bold;
  font-style: italic;
  background-color: #FBFBFB;
  border: solid 2px #0A3540;
  transition: background 0.3s;
  margin: 10px 0 70px 250px;
  padding: 5px;

}

.cta-button:hover{
  background: none;
  border: solid 1px #FBFBFB;
  color: #FBFBFB;
}

#home-text{
  margin: 100px 0 0 70px;
}


@media only screen and (max-width: 1200px){

  #home-section{
    box-sizing: border-box;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 90px 0 110px 0;
  }

  #home-text{
    margin: 0;
  }
  .cta-button{
    margin-left: 0;
    margin-top: 0;
  }
}

@media only screen and (max-width: 768px){
  #home-section h1{
    font-size: 28px;
  }

  #home-section p{
    font-size: 16px;
  }

  #home-text{
    margin-top: 20px;
  }

  .cta-button{
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 600px){
  #home-text{
    margin-top: -30px;
  }
}

/* About Page Specific */

#about-body{
  background-image: url(../images/luo-lei-uBenr_39JPg-unsplash.jpg);
  background-color: #7B9AA6;
}


/* Contact Page Specific */

#contact-body{
  background-image: url(../images/lucas-wesney-ZNz5UPRb2N8-unsplash.jpg);
  background-color: #AED8F2;
}
