
/* Global */

body{
  margin: 0;
  font-family: verdana;
  background-size: cover;
  min-height: 100vh;
  letter-spacing: 1px;
  overflow-x: hidden;
}

main{
  flex: 1;
}

h1{
  font-size: 37px;
  margin: 0;
  color: #0A3540;
  text-align: center;
}

h2{
  margin: 0;
  font-size: 28px;
  font-weight: normal;
}

h3{
  margin: 0;
  font-size: 21px;
  font-weight: normal;
}

h4{
  margin: 0;
  font-size: 16px;
  font-weight: normal;
}

p{
  margin: 0;
  font-size: 16px;
}

hr{
  width: 150px;
  color: #8C4300;
  display: inline-block;

}

a{
  text-decoration: none;
}

input{
  margin: 10px 0 25px 0;
  padding: 10px;
}

input:focus{
  border-color: #8C4300;
  outline: none;
}


.background{
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  box-sizing: border-box;
  background-color: #FBFBFB;
  box-shadow: 1px 1px 10px ;
  padding: 20px;
  margin: 70px;
  width: 900px;
}

.container{
  background-color: #FBFBFB;
  padding: 20px;
}

.flex{
  display: flex;
}

.column{
  flex-direction: column;
}

.column-reverse{
  flex-direction: column-reverse;
}

.justify-center{
  justify-content: center;
}

.justify-end{
  justify-content: flex-end;
}

.justify-start{
  justify-content: flex-start;
}

.align-center{
  align-items: center;
}

.justify-between{
  justify-content: space-between;
}

.gap20{
  gap: 20px;
}

.flex1{
  flex: 1;
}

.padding-15{
  padding: 15px;
}

.header{
  grid-area: header;
}

.form-h2{
  grid-area: form-h2;
}


@media only screen and (max-width: 1280px){
  .background{
    min-width: auto;
  }
}

@media only screen and (max-width: 992px){
  .main-height{
    min-height: 100vh;
  }

  .background{
    width: 500px;
  }

  h1{
    font-size: 28px;
  }

  h2{
    font-size: 21px;

  }

  h3{
    font-size: 16px;

  }
}

@media only screen and (max-width: 600px){
  .main-height{
    min-height: auto;
  }

  .background{
    margin: 0;
    width: 100%;
    box-shadow: none;
    height: 100%;
  }
}

/* Link & Button Style */

.link{
  color: #0A3540;
  transition: 0.3s;
}

.link:hover{
  color: #8C4300;
}

.active{
  color: #8C4300;
}

.active:hover{
  text-decoration: none;
  border: none;
}

.cta-button{
  grid-area: button;
  cursor: pointer;
  min-height: 30px;
  display: block;
  width: 100%;
  color: #8C4300;
  font-size: 21px;
  font-weight: bold;
  font-style: italic;
  background-color: #FBFBFB;
  border: solid 2px #0A3540;
  transition: background 0.3s;
  padding: 5px;
  box-sizing: border-box;
  text-align: center;
  letter-spacing: 2px;
}

.cta-button:hover{
  background-color: #0A3540;
  border: solid 2px #0A3540;
  color: #FBFBFB;
}

.cta-button:disabled{
  background-color: #FBFBFB;
  border: solid 2px #0A3540;
  color: #8C4300;
  cursor:auto;
}


@media only screen and (max-width: 992px){
  /* Removing the hover effect on smaller devices */
  .link:hover{
    text-decoration: none;
  }
  .cta-button:hover{
    color: #8C4300;
    background-color: #FBFBFB;
    border: solid 2px #0A3540;
  }
}

/* Header and Nav */

header{
  width: 100%;
  padding: 10px 0;
  align-items: center;
  background-color: #FBFBFB;
  border-bottom: solid 1px #0A3540;
}

.logo{
  height: 80px;
  margin: 0 0 0 70px;
}

#shopping_cart-24px{
  fill: #0A3540;
  height: 28px;
  transition: 0.3s;
}

#shopping_cart-24px:hover{
  fill: #8C4300;
  height: 28px;
}

.cart-animation{
  animation-name: scale;
  animation-duration: 2s;
}

.cart{
  cursor: pointer;
}

@keyframes scale {
  0% { 
     transform: scale(1);
     fill: #0A3540;
  }

  50% { 
     transform: scale(1.3);
     fill: #8C4300;
  }

  100% {
     transform: scale(1);
     fill: #0A3540;
  }
} 

.num-items{
  font-size: 16px;
  position: absolute;
  right: 0;
  top: 0;
  margin: 27px 72px 0 0;
  color: #8C4300;
}

.num-animation{
  animation-name: num;
  animation-duration: 1.5s;
}

@keyframes num {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}

.small-cart{
  display:none;
}


/* Hamburger Menu */

.ham-nav{
  display: flex;
  justify-content: flex-end;
  padding-right: 70px;
}

.ham-items{
  display: flex;
}

.ham-items a{
  flex-grow: 1;
  flex-basis: 0;
  margin: 5px 0px 10px 20px;
  padding-left: 10px;
  font-size: 21px;
  letter-spacing: 1px;
  text-align: center;
}

.hamburger{
  display: none;
  align-self: center;
}

@media screen and (max-width: 1200px){
  .small-cart{
    display: block;
    margin-right: 50px;
    height: 21px;
    margin-bottom: 7px;
  }

  .num-items{
    font-size: 12px;
  }

  .ham-items .large-cart{
    display:none;
  }

  .ham-nav{
    padding-right: 0;
  }

  .ham-items{
    display: block;
    background: rgba(251, 251, 251);
    margin-top: 53px;
    width: 100%;
    position: absolute;
    display:block;
    height: 0;
    overflow: hidden;
    transition: all 0.3s linear;
  }

  .hidden{
    height: 13rem;
    
  }

  .ham-items a{
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 15px 10px 10px 10px;
    margin: 0;
  }

  .hamburger{
    display: block;
    color: #0A3540;
    font-size: 25px;
    padding: 3px 70px 10px 10px;
    position: absolute;
    cursor: pointer;
  }
}
@media only screen and (max-width: 992px){
  .logo{
    margin-left: 20px;
  }

  .hamburger{
    padding-right: 20px;
  }
}


@media only screen and (max-width: 600px){
  .ham-items{
    margin-top: 38px;
  }

  .logo{
    height: 50px;
  }

  .hamburger{
    font-size: 28px;
  }
}

/* Footer */

footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 70px 10px 70px;
  background-color: #FBFBFB;
  border-top: solid 1px #0A3540;
  font-size: 16px;
  color: #0A3540;
}

footer img{
  height: 30px;
  width: auto;
}

.footer-flex{
  display: flex;
  align-items: center;
}

.copyright p{
  margin-left: 5px;
}

.policies p{
  padding: 0 5px 0 5px;
}

.footer-contact a{
  margin-right: 5px;
}

@media only screen and (max-width: 992px){
  footer{
    padding: 10px;
  }
}

@media only screen and (max-width: 768px){
  footer{
    justify-content: space-between;
  }

  .copyright{
    order: 1;
  }

  .policies{
    order:3;
    text-align: center;
    justify-content: center;
    flex-basis: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  .footer-contact{
    order:2;
  }
}

@media only screen and (max-width: 600px){
  footer a, footer p{
    font-size: 12px;
  }
  footer img{
    height: 21px;
    width: auto;
  }
}

/*Home Page (+ Home Page Product Grid) */

#home-body{
  background-color:#FBFBFB;
  background-attachment: fixed;
  background-position: 50% 20%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
  url("../images/luca-massimilian-NCFCbcNVSVQ-unsplash(3).jpg");

}

#home-section{
  height: 70vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

#home-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-shadow: 2px 2px 1px #111;
  color: #FBFBFB;
}

#home-text h1{
  margin: 0 0 5px 0 ;
  color: #FBFBFB;
  font-size: 37px;
}

#home-text p{
  text-align: center;
  margin: 0 0 5px 0;
  font-size: 21px;
  color: #FBFBFB;
}

#home-text .cta-button{
  margin-top: 20px;
  text-shadow: none;
  width: 300px;
}

#home-text .cta-button:hover{
  background: none;
  border: solid 2px #FBFBFB;
  color: #FBFBFB;
}

.home-products{
  background-color: #FBFBFB;
  padding: 70px;
}

.home-products h2{
  text-align: center;
}

.home-products .product{
  max-width: 300px;
}

.home-grid{
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 40px;
  gap: 20px;
}


@media only screen and (max-width: 1260px){

  .home-products .product{
    min-width: 150px;
  }
  .home-grid .product img{
    max-height: 250px;
  }
}


@media only screen and (max-width: 992px){
  .home-grid{
    grid-template-columns: repeat(2, 1fr);
  }

  #home-text h1{
    font-size: 28px;
  }
}


@media only screen and (max-width: 764px){

  #home-body{
    background-position: center;
    background-size: auto 100%;
  }

  .home-grid{
    grid-template-columns: 300px;
  }

  #home-text h1{
    font-size: 21px;
  }

  #home-text p{
    font-size: 16px;
  }
}

/** Product Related **/

.product-body{
  background-color:#FBFBFB;
  background-attachment: fixed;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
  url("../images/luca-massimilian-NCFCbcNVSVQ-unsplash(3).jpg");
}

.product-body .container{
  max-width: 800px;
  gap: 70px;
  padding: 50px;
  overflow: hidden;
}

.product-section div{
  background-color: #FBFBFB;
}


.product{
  background-color: #f0f0f0;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  color: #0A3540;
  transition: 0.3s;
}

.product:hover{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.product-body input[type="radio"]{
  display: none;
  justify-content: center;
}

.product-body input[type="radio"] + label{
  cursor: pointer;
  padding: 5px 10px;
  transition: 0.3s;
}

#red + label{
  border: solid 3px rgb(143, 0, 0);
  flex: 1;
  text-align: center;
}

#red + label:hover{
  background-color: rgba(143, 0, 0, 0.2);
}

#red:checked + label{
  background-color: rgba(255, 0, 0, 0.2);
}

#green + label{
  border: solid 3px green;
  flex: 1;
  text-align: center;
}

#green + label:hover{
  background-color: rgba(0, 255, 0, 0.2);
}

#green:checked + label{
  background-color: rgba(0, 255, 0, 0.2);
}

#blue + label{
  border: solid 3px navy;
  flex: 1;
  text-align: center;
}

#blue + label:hover{
  background-color: rgba(0, 0, 128, 0.2);
  color: black;
}

#blue:checked + label{
  background-color: rgba(0, 0, 255, 0.2);
  color: black;
}

.product-size input[type="radio"]:checked + label{
  background-color: #0A3540;
  color: white;
}


#small + label, #medium + label, #large + label{
  flex:1;
  text-align: center;
  border: solid 1px #0A3540;
}

.product-size input[type="radio"] + label:hover{
  background-color: #0A3540;
  color: #FBFBFB;
}

.cart-confirm{
  border: none;
  height: 150px;
}

.product-size p{
  margin-right: 10px;
}

.product-form{
  margin: 20px 0;
}

.product-details{
  align-self: flex-start;
  align-items: flex-start;
  margin-top: 16px;
}

.product-body h1{
  font-size: 28px;
}

.product-details h2{
  font-size: 16px;
}

.product-img{
  min-width: 366px;
  display: flex;
  justify-content: center;
}

.product img{
  max-height: 300px;
}

.product-info ul{
  padding-left: 15px;
  padding-bottom: 0;
}

.number{
  width: 50px;
}

.radio-label::after {
  content: "\A";
  white-space: pre;
}

.product label{
  width: 100%;
}

.product label:hover {
  cursor: pointer;
}

@media only screen and (max-width: 992px){
  .product-body .container{
    flex-direction: column;
    gap: 10px;
    max-width: 364px;
    padding: 30px;
  }

  .product-container{
    height: 450px;
    gap: 10px;
  }

  .product-body img{
    max-height: 300px;
  }
}

@media only screen and (max-width: 600px){
  .product-body .container{
    max-width: 100%;
    height: 100%;
    padding: 10px;
    gap: 20px;
  }

  .product-container{
    height: 450px;
    gap: 0px;
  }

  .product-body img{
    max-height: 300px;
    margin-top: 10px;
  }
}

/* Collection Page Specific */

.collection-section{
  background-color: #FBFBFB;
  padding: 70px;
}

.collection-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 70px;
}

.collection-section h1{
  margin-bottom: 70px;
}

@media only screen and (max-width: 1200px){
  .collection-grid{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 992px){
  #collection-grid{
    width: 100%;
  }
}

@media only screen and (max-width: 764px){
  .collection-section{
    padding: 20px;
  }

  .collection-grid{
    grid-gap: 20px;
  }

}

@media only screen and (max-width: 600px){

  .collection-grid{
   grid-template-columns: 1fr;
  }

}

/* Shopping Cart */

.shopping-cart{
  gap: 20px;
  align-self: flex-start;
  right: 0;
  overflow: hidden;
  width: 0;
  padding: 20px 0;
  position: absolute;
  transition: all 0.3s linear;
  background-color: #FBFBFB;
}

.show{
  width: 300px;
}

.shopping-cart h2{
  font-size: 21px;
  letter-spacing: 1px;
}

.cart-products{
  max-height: 500px;
  overflow: auto;
  gap: 20px;
  flex: 3;
}

.cart-item{
  color: #0A3540;
  background-color: #f0f0f0;
  padding: 5px;
}

.cart-item img{
  height:100px;
}

.cart-item h3, .cart-item p, .cart item input{
  font-size: 12px;
}

.cart-item .number{
  margin: 0;
  height: 5px;
}

.delete{
  color: #0A3540;
  float: right;
  opacity: 0.2;
  cursor: pointer;
}

.delete:hover{
  opacity: 1;
}


.summary hr{
  grid-area: hr;
  width: 100%;
  margin-top: 2px;
  margin-right: 5px;
}

.summary .cta-button{
  margin-top: 10px;
}

@media only screen and (max-width: 600px){
  .show{
    width: 100%;
    height: 100vh;
  }
}


/* Customer Details */

.details-body{
  background-color:#FBFBFB;
  background-attachment: fixed;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
  url("../images/luca-massimilian-NCFCbcNVSVQ-unsplash(3).jpg");
}

#form{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 70px auto auto auto;
  grid-template-areas:
  "header header header header"
  "form1 form1 form2 form2"
  "form1 form1 form2 form2"
  "... button button ...";
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

#form1{
  display: flex;
  flex-direction: column;
  grid-area: form1;
}

#form2{
  display: flex;
  grid-area: form2;
  flex-direction: column;
}

.error-message{
  color: #8C4300
}

input:valid + div .error-message{
  display: none;
}

.city{
  flex-basis: 100%;
}

.postal{
  width: 110px;
  margin-right: 10px;
}




@media only screen and (max-width: 992px){
  #form{
    grid-template-areas:
      "header"
      "form1"
      "form2"
      "button";
    grid-template-columns: auto;
  }
}

/* Summary Page */

.summary-section{
  grid-template-columns: auto;
  grid-template-rows: 70px auto 40px auto 40px auto;
  grid-template-areas:
  "... header header header ... "
  "form-h2 form-h2 form-h2 shipping-h2 shipping-h2"
  "form form form shipping shipping"
  "form form form shipping shipping"
  "form form form summary-h2 summary-h2"
  "form form form summary summary";
}


#payment-form{
  box-sizing: border-box;
  max-width: 450px;
  display: grid;
  grid-column-gap: 20px;
  padding: 20px;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
  "buttons buttons"
  "card card"
  "cvc expiry"
  "button button";
  border: 1px solid;
  grid-area: form;
}

.summary-section .cta-button{
  grid-area: button;
}

.summary-cart{
  top: 0;
}

#form-h2{
  grid-area: form-h2;
}

#card, #cvc, #expiry{
  width: 100%;
  box-sizing:border-box;
}

#card-label{
  grid-area: card;
  width: 100%;
}

#cvc-label{
  grid-area: cvc;
}

#expiry-label{
  grid-area: expiry;
}

#radio-buttons{
  display: flex;
  justify-content: space-between;
  grid-area: buttons;
}

#shipping{
  grid-area: shipping;
  border: 1px solid;
  padding: 20px;
}

#shipping-h2{
  grid-area: shipping-h2;
}
.price1 {
  grid-area: price1;
}

.price2 {
  grid-area: price2;
}
#summary-h2{
  grid-area: summary-h2;
  align-self: flex-end;
}

.total {
  grid-area: total;
}

.price3{
  grid-area: price3;
}

#ship{
  grid-area: shipping;
}

.summary-summary hr {
  grid-area: hr;
  width: 100%;
  margin-top: 2px;
  margin-right: 5px;
}

.sum{
  grid-area: sum;
}

.summary-section .summary-summary{
  box-sizing: border-box;
  height: 100%;
  border: 1px solid;
  padding: 20px;
  align-self: flex-start;
  grid-column-gap: 10px;
  max-width: 450px;
  grid-template-rows: auto auto 5px auto;
  grid-template-areas:
    "sum sum ... price1"
    "shipping Shipping... price3"
    "hr hr hr hr"
    "total total ... price2";
}

.summary-summary {
  grid-area: summary;
  align-self: flex-end;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 5px auto auto;
  grid-template-areas: "sum sum ... price1" "hr hr hr hr" "total ... ... price2" "button button button button";
}

.confirmation{
  max-width: 45rem;
  min-height: 10rem;
  padding: 20px;
  text-align: center;
  border: solid 1px #0A3540;
}

.confirmation::backdrop{
  background: rgb(000, 000, 000, 0.7);
}

.confirmation p{
  margin-top: 20px;
}

.confirmation .cta-button{
  max-width: fit-content;
  margin-inline: auto;
  margin-top: 20px;
}

@media only screen and (max-width: 992px){
  .summary-section{
    grid-template-columns: auto;
    grid-template-rows: 60px 40px auto 40px auto;
    grid-template-areas:
    "header"
    "shipping-h2"
    "shipping"
    "summary-h2"
    "summary"
    "form-h2"
    "form"
    ;
  }
}
@media only screen and (max-width: 600px){
  #radio-buttons{
    display: block;
  }
}
/* About Page Specific */

.about-body{
  background-color: #FBFBFB;
  background-image: url("../images/luo-lei-uBenr_39JPg-unsplash(2).jpg");
  background-position: center top;
  background-size: cover;
}

.about-main{
  display: flex;
  align-items: center;
}

#about-text{
  max-width: 600px;
  background: rgba(192, 230, 240);
  padding: 40px;
  margin-left: 115px;
  box-shadow: 1px 1px 10px ;

}

#about-text p{
  font-size: 16px;
  color: #3B3B3B;
}

#about-text h1{
  margin-bottom: 40px;
}

#about-text h2{
  font-size: 21px;
  color: #0A3540;
}

#about-h2{
  margin-top: 40px;
}

@media only screen and (max-width: 1200px){
  #about-text{
      max-width: 500px;
    }

    .num-items{
      position: absolute;
      right: auto;
      top: auto;
      margin: -10px 0 0 -15px;
    }
}

@media only screen and (max-width: 992px){

  #about-body{
    background-position: left;

  }
  #about-text{
    margin: 0 auto;
  }

  #about-text h2, h1{
    text-align: center;
  }
  #about-text hr{
    display: inherit;
  }
}

@media only screen and (max-width: 600px){
  #about-main{
    min-height: 100%;
  }

  #about-text{
    padding: 40px 10px;
    box-shadow: none;
  }
}

/* Contact Page Specific */

.contact-body{
  background-image: url("../images/lucas-wesney-ZNz5UPRb2N8-unsplash(2).jpg");
  background-color: #AED8F2;
}

.contact-main{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contact-section{
  background: rgba(192, 230, 240);
  box-shadow: 1px 1px 10px ;
  padding: 40px;
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: auto 0;
}

.contact-section h2{
  margin: 0;
  color: #0A3540;
  font-weight: normal;
  font-size: 28px;
}

.contact{
  display: flex;
  align-items: center;
}

.contact img{
  height: 25px;
  width: auto;
  margin-right: 25px;
}

#social-media{
  align-items: center;
}

#social-media a{
  color: #8C4300;
}


#icons{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#icons img{
  height: 50px;
  width: auto;
  margin-top: 4px;}

#icons a{
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  margin-left: 0;
}

#icons a:hover{
  border: solid 1px #8C4300;
  border-radius: 100%;
}



@media only screen and (max-width: 992px){
  .contact-body{
    background-position: right;
  }

  .contact-main{
    min-height: calc(100vh - 250px);
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0;
  }
}

@media only screen and (max-width: 600px){
  .contact-main{
    display: flex;
    justify-content: none;
    min-height: auto;
  }

  .contact-section{
    box-sizing: border-box;
    box-shadow: none;
    padding: 20px 40px 20px 40px;
    width: 100%;
  }
}
