
body{
  background-image: url("../images/luca-massimilian-NCFCbcNVSVQ-unsplash.jpg");
  background-position: center top;
  background-size: 2040px 1290px;
  background-repeat: no-repeat;
  margin: 0;
  font-family: verdana;
}

header{
}

nav{
  float: right;
  margin: 24px 15px 0 0;
}

nav ul{
  display: inline;
  list-style-type: none;
}

nav li{
  display: inline;
  padding: 0 0 0 20px;
  font-size: 25px;
  color: #0A3540;
}

.link{
  text-decoration: none;
  color: #0A3540;
}

.link:hover{
  text-decoration: underline;
  text-decoration-color: #8C4300;
}

#logo{
  height: 275px;
  width: 512px;
  margin: 10px 0 0 30px;
}

#header-div{
  height: 76px;
  background: rgba(251, 251, 251, 0.8);
  margin-top: -66px;
  border-top: solid 3px #0A3540;
  border-bottom: solid 3px #0A3540;
}

#mid-section{
  height: 100vh;
}

footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px 0 15px;
  height: 78px;
  background-color: #FBFBFB;
  border-top: solid 3px #0A3540;
  border-bottom: solid 3px #0A3540;

}

#copyright{
  display:flex;
  align-items: center;
}

#copyright p{
  margin-left: 5px;
}

#policies{
  display:flex;
  align-items: center;
}

#contact{
  display:flex;
  align-items: center;
}

#contact a{
  margin-right: 5px;
}
